<div class="text-white px-4 p-2 border my-2 rounded border-success">
  <div class=" px-4">
    <div class="d-flex align-items-center">
      <div><%= "#{t("review.name")}:"%></div>
      <div class=""><%= comment.first_name %></div>
    </div>
    <h5 class="mt-3"><%= comment.content %></h5>
  </div>
</div>
