<div class="d-flex justify-content-center py-3">
  <% if object && object.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger text-center">
        <%= t "form.errors", count: pluralize(object.errors.count, "error") %>.
      </div>
      <ul>
        <% object.errors.full_messages.each do |msg| %>
          <li class="text-danger"><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
