<div class="site-section bg-dark row px-2">
  <div class="col-4">
    <%= render(partial: "fields/field_type", locals: { field_type: @field_type }) %>
  </div>
  <div class="col-8">
    <div class="row mb-5">
      <div class="col-lg-12 p-0 rounded">
        <div class="widget-next-match rounded">
          <div class="widget-title">
            <h3><%= t("field_types.booking_time") %></h3>
          </div>
          <div>
            <% booking_hours.each do |time| %>
              <div class="btn btn-white col-2 m-2">
                <%= time[:start_time] %> - <%= time[:end_time] %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
