<div class="col-md-4">
  <div class="post-entry">
    <a href="#">
      <img src="<%= asset_path("img_1.jpg") %>" alt="Image" class="img-fluid">
    </a>
    <div class="caption">
      <div class="caption-inner">
        <div class="author d-flex align-items-center">
          <div class="img mb-2 mr-3">
          </div>
          <div class="text">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
