<div class="latest-news">
  <div class="container">
    <div class="row">
      <div class="col-12 title-section">
        <h2 class="heading"><%= t("fields.title") %></h2>
      </div>
    </div>
    <div>
      <div class="d-flex justify-content-end"><%== pagy_bootstrap_nav @pagy %></div>
      <div class="row no-gutters">
        <% @fields.each do |field| %>
          <%= render field %>
        <% end %>
      </div>
    </div>
  </div>
</div>
