<div class="latest-news">
  <div class="container">
    <div class="row">
      <div class="col-12 title-section">
        <h2 class="heading"><%= t("fields.title") %></h2>
      </div>
    </div>
    <div>
      <div class="row  align-items-center">
        <div class="input-group">
          <div class="form-outline" data-mdb-input-init>
            <input type="search" id="form1" class="form-control" />
          </div>
          <button type="button" class="btn btn-primary" data-mdb-ripple-init>
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </div>
        <div class="custom-pagination">
          <%== pagy_bootstrap_nav @pagy %>
        </div>
      </div>
      <div class="row no-gutters">
        <% @fields.each do |field| %>
          <%= render field %>
        <% end %>
      </div>
    </div>
  </div>
</div>
