<div class="container site-section">
  <div>
    <div class="col-6 title-section">
      <h2 class="heading"><%= t("fields_detail.title") %></h2>
    </div>
  </div>
  <div class="row" id="site_section_field">
    <%= render(partial: "field_types/field_type", collection: @field.field_types, locals: { is_show_booking_button: true }) || t("fields.empty") %>
  </div>
</div>
