<footer class="footer-section">
  <div class="row text-center">
    <div class="col-md-12">
      <div class=" pt-5">
        <p>
          <%= t("footer.title") %>
        </p>
      </div>
    </div>
  </div>
</footer>
