<ul class="bg-light d-flex text-white z-1 languge">
  <li class="mr-3">
    <%= link_to t("application.language.en"), switch_language_path(:en) %>
  </li>
  <li>
    <%= link_to t("application.language.vi"), switch_language_path(:vi) %>
  </li>
</ul>
